# Cache, session files and logs
/app/var/cache/*
/app/var/logs/*
/app/var/sessions/*

# env files
/app/.env.local
/app/.env.test

# IDE
/app/.idea/*

# Composer
/app/vendor/*

# Docker
/docker/config/.env.local
